/*!
    MegzFit Theme custom styles
*/

/*! VARIABLES */
// colors
$white: #fff;
$light-grey: #efefef;
$mid-grey: #dbdddc;
$teal: #76cfbf;
$d-teal: #54a79a;
$dark-grey: #7c7c7c;
$black: #000;
$carl: #ff7f50;

// logo proportion
$logoWtoH: 1.5615384615px;
// this is the proportion of the logos width to height ( 203px / 130px = above val )

// fonts
$barlow: "Barlow Condensed", Helvetica, sans-serif;
$meddon: Meddon, cursive;

// font weights
$regular: 400;
$light: 300;
$medium: 500;

// breakpoints
$bp-tablet: 600px;
$bootstrapTablet: 768px;
$bp-desktop: 992px;

// transition timings 
$t-slow: 500ms;
$t-medium: 300ms;
$t-fast: 100ms;

// extends
.d-flex {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -ms-flex: 0 1 auto; // ie fix
  -webkit-flex: 0 1 auto; // ie fix
  flex: 0 1 auto; // ie fix
  min-height: 100%; // ie fix
}

.d-center { //center content horizontally and vertically
  @extend .d-flex;
  justify-content: center;
  align-items: center;
}

.justify-center-flex {
  @extend .d-flex;
  justify-content: center;
}

.space-between-flex {
  @extend .d-flex;
  justify-content: space-between;
}


#page {
  background-color: $teal;
}

.d-flex-c {
  flex-direction: column;
}

.bg-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// mixins 
@mixin transition($timing) {
  -webkit-transition: $timing all linear;
  -moz-transition: $timing all linear;
  -o-transition: $timing all linear;
  transition: $timing all linear;
}

/*! GLOBAL STYLES */
html, body {
  height: 100%;
}
html {
  font-size: 16px;
  p {
    font-size: 1rem;
    font-weight: $regular;
  }
}
body {
  position: relative;
  -webkit-transform: translate3d(0,0,0);
  h1,h2,h3,h4,h5,h6 {
    font-family: $barlow;
    font-weight: $medium;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-family: $barlow;
    font-weight: $light;
  }
  a {
    @include transition($t-fast);
  }
  a:hover {
    @include transition($t-fast);
  }
  iframe {
    width: 100%;
  }
  .nav {
    text-align: right;
    position: fixed;
    text-transform: uppercase;
    font-size: 1.2rem;
    height: 50vh;
    width: 50vw;
    max-width: 100vw;
    max-height: 100vh;
    background-color: $teal;
    color: $white;
    font-family: $barlow;
    z-index: 100;
    transition: left 0.4s;
    overflow: hidden;
    left: 50%;
    &.out {
      left: 100%;
      transition: left 0.4s;
    }
    .menu-main-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    ul {
      list-style-type: none;
      padding-top: 2rem;
      margin: 0;
      padding: 0;
      text-align: center;
      a {
        padding: 10px 5px;
        color: $white;
        display: block;
      }
      a:hover {
        color: darken($white, 10);
        text-decoration: none;
      }
    }
    .fa {
      color: $white;
    }
    #nav-toggle { 
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 110;
      height: 22px;
    }
    #nav-toggle:hover {
      color: darken($white, 10);
    }
  }
  &.archive, &.single {
    .nav {
      margin-bottom: 0;
    }
    .nav-logo {
      padding: 10px;
      img {
        height: 30px;
      } 
    }
  }
  @media only screen and (min-width: $bootstrapTablet) {
    .nav {
      position: relative;
      margin-bottom: -48.8px;
      height: auto;
      width: auto;
      background-color: transparent;
      .menu-main-container {
        justify-content: flex-end;
      }
      &.out {
        left: auto;
      }
      li {
        display: inline-block;
        margin-right: 10px;
      }

      
      #nav-toggle {
        display: none;
      }
    }
  }
}

/*! GLOBAL FOOTER */
.footer {
  background-color: $teal;
  padding: 12px 0 18px 0;

  .social {
    margin: 0 auto;
    max-width: 150px;
    @extend .d-flex;
    justify-content: space-between;
    a {
      color: $black;
    }
    a:hover, a:active {
      color: $white;
      transition:all .3s ease-in-out;

    }
  }
  .copy {
    text-align: center;
    font-family: $barlow;
    padding-top: 12px;
    font-size: 0.6rem;
    text-transform: uppercase;
    p {
      margin-bottom: 0;
    }
  }
}

/*! CUSTOM STYLES */
// home page
.home {
  width: 100%;
  .banner {
    @extend .d-center;
    min-height: 350px;
    background-image: linear-gradient(rgba(118, 207, 191, .6), rgba(118, 207, 191, .6)), url(http://megzfit.web.dmitcapstone.ca/wp-content/uploads/2018/02/banner-600px.jpg);
    background-size: cover;
    background-position: center center;
    color: $white;
    font-family: $barlow;
    
    text-transform: uppercase;
    .banner-inner {
      h1 {
        font-weight: $light;
        text-align: center;
      }
      .logo {
        width: 225px;
        margin: 0 auto;
      }
      img {
        min-width: 225px;
        max-width: 100%;
      }
    }
  }
  .about-me {
    background-color: $black;
    color: $teal;
    text-align: center;
    padding: 24px 24px;

    .about-me-inner {
      h2 {
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-bottom: 12px;
      }
      img {
        padding: 12px 0px;
        border: 1px transparent;
        border-radius: 50%;
      }
      p {
        color: $white;
      }
    }
  }
  .ig {
    padding: 0 0 12px 0;
    #sb_instagram .sbi_follow_btn a{
      background-color: $black;
      font-family: $barlow;
      text-transform: uppercase;
      padding: 12px 20px 12px 20px;
    }
    #sb_instagram .sbi_follow_btn a:hover{
      background-color: $white;
      color:$black;
      transition:all .3s ease-in-out;
      opacity: 1;


    }
  }
  .blog {
    padding: 24px 0 24px 0;
    background-color: $mid-grey;
    text-align: center;
    .blog-title {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 1.8rem;
    }
    .blog-inner {
      .blog-post {
        iframe {
          vertical-align: bottom;
          width: 100%;
        }
        .post-content {
          background-color: $teal;
          position: relative;
          padding: 6px 18px 36px 18px;
          text-align: left;
          h3 {
            color: $white;
            font-family: $barlow;
            font-weight: $light;
            text-transform: uppercase;
          }
          a {
            font-family: $barlow;
            padding: 8px 24px;
            text-transform: uppercase;
            position: absolute;
            bottom: 12px;
            right: 12px;
            background-color: $white;
            color: $black; 
            border-radius: 0;
          }
          a:hover {
            background-color: $black;
            color:$white;
            transition:all .3s ease-in-out;
            text-decoration: none;
          }
          a:focus {
            box-shadow: none;
          }
        }
      }
      .blog-post:not(:first-child) { //suppress second blog post on mobile screen
        display: none;
      }
    }
  }
}

.forms { // this is for both of the forms, theonly different is in some colors
  text-align: center;
  padding: 12px 18px;

  .forms-inner {
    form {
      max-width: 400px;
      margin: 0 auto;
    }
    h2 {
      font-family: $barlow;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    p {
      margin: 0;
      text-align: left;
    }
    label {
      font-weight: $regular;
      margin-bottom:1rem;
    }
    input, textarea, input {
      border: 1px solid transparent;
      border-radius: 0;
    }
    input:focus, textarea:focus, input:focus {
      box-shadow: none;
      border: 1px solid transparent;
    }
    textarea {
      max-height: 8rem;
    }
  }
  // both forms share these styles
  &.contact, &.mail-list {
    input[type=submit] {
      text-transform: uppercase;
      &:not([disabled]):not(.disabled):active {
        border-color: transparent;
        box-shadow: none;
      }
    }
    .ajax-loader {
      height: 11px;
    }
    .wpcf7-not-valid-tip {
      color: $carl;
    }
    .wpcf7-not-valid {
      border-color: $carl;
    }
  }
  // contact form specific
  &.contact { 
    background-color: $black;
    color: $teal;
    padding:24px;
    input[type=submit] {
      max-width: 400px;
      color: $white;
      background-color: $teal;
      &:not([disabled]):not(.disabled):active {
        color: $white;
        background-color: $teal;
      }
      &:not([disabled]):not(.disabled):hover{
        color: $teal;
        background-color: $white;
       transition:all .3s ease-in-out;

      }
    }
    .wpcf7-validation-errors {
      color: $carl;
      background-color: transparent;
      border: 1px solid $carl;
      border-radius: none;
    }
  }
  // mail list specific
  &.mail-list { 
    color: $black;
    input[type=submit] {
      background-color: $black;
      color: $white;
      &:not([disabled]):not(.disabled):active {
        color: $white;
        background-color: $black;
      }
      &:not([disabled]):not(.disabled):hover{
        color: $black;
        background-color: $white;
        transition:all .3s ease-in-out;
      }
    }
    //error stuff
    .wpcf7 .wpcf7-validation-errors {
      display: none !important;
    }
  }
  
}

.error404 {
  #page {
    background-color: $white;
  }
  .four-oh-four {
    min-height: 50vh; 
  }
}

.archive, .single {
  .nav-container {
    background-color: $teal;
  }
  #page {
    background-color: $black;
    color: $white;
  }
  .blog-banner {
    padding: 18px 0px;
  }
  .post-info {
    text-align: center;
    h2 {
      font-size: 2.5rem;
      text-transform: uppercase;
    }
    .date {
      font-size: 1.4rem;
    }
    .cat-link {
      text-decoration: none;
      color: $white;
      padding-bottom: 5px;
      border-bottom: 1px solid $teal;
      margin-right: 1rem;
      &:hover {
        color: $teal;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  
  .blog-post {
    p:empty:first-of-type {
      height: 0;
      margin: 0;
    }
    p:empty:first-of-type + p::first-letter {
      font-size: 2rem;
      font-weight: $medium;
    }
    .read-more:hover {
      color: $black;
      text-decoration: none;
    }
    .read-more:focus {
      box-shadow: none;
    }
  }
  .sidebar-inner {
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: $teal;
    padding: 12px;
    select {
      width: 100%;
    }
    &.blog-about {
      background-image: linear-gradient(rgba(84,167,154, .8), rgba(84,167,154, .8)), url(http://megzfit.web.dmitcapstone.ca/wp-content/uploads/2018/04/ocean-lg.png);
      background-size: cover;
      background-position: center center;
      h2 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-bottom: 12px;
      }
      img {
        display: block;
        margin: 0 auto;
        padding: 12px 0px;
        border: 1px transparent;
        border-radius: 50%;
      }
      .social {
        @extend .justify-center-flex;
        a {
          color: $white;
          margin-right: 12px;
          &:last-of-type {
            margin: 0;
          }
          &:hover {
            color: $black;
            transition: all $t-medium ease-in-out;
          }
        }
        
        font-size: 20px;
      }
    }
  }
  .recents {
    padding: 12px 0px;
    text-align: center;
    .date {
      font-size: 1.2rem;
    }
    h2 {
      padding: 12px 0px 3px 0px;
      text-transform: uppercase;
    }
    h2 + hr {
      height: 1px;
      background-color: $teal;
      max-width: 150px;
      margin: 0 auto;
      margin-bottom: 18px;
    }
    a {
      display: block;
      color: $white;
      text-decoration: none;
      h3 {
        color: $white;
        text-transform: uppercase;
      }
      &:hover {
        h3 {
          color: $teal;
          transition: all $t-medium ease-in-out;
        }
      }
    }

  }
  .sidebar-outer {
    position: relative;
  }
  @media only screen and (min-width: $bootstrapTablet) {
    .sidebar {
      position: sticky;
      padding-bottom: 12px;
      top: 12px;
    }
  } 
}

/*! TABLET */
@media only screen and (min-width: $bp-tablet) {
  .home {
    .banner {
      min-height: 500px;
      background-image: linear-gradient(rgba(118, 207, 191, .6), rgba(118, 207, 191, .6)), url(http://megzfit.web.dmitcapstone.ca/wp-content/uploads/2018/02/banner-992px.png);
    }
    .about-me{
      .about-me-inner{
        h2{
          font-size: 2.3rem;
        }
      }
    } // close about-me
    .blog{
      .blog-title{
        h2{
          font-size: 2.3rem;
        }
      }
    } //close blog
  }
  .single, .archive {
    .banner {
      min-height: 500px;
      background-image: linear-gradient(rgba(118, 207, 191, .6), rgba(118, 207, 191, .6)), url(http://megzfit.web.dmitcapstone.ca/wp-content/uploads/2018/02/banner-992px.png);
    }
  }
}

@media only screen and (min-width: $bootstrapTablet) {
  .blog-post {
    display: block !important; //reveal blogposts when 2 column
  }
}

/*! DESKTOP */
@media only screen and (min-width: $bp-desktop) {
  .home {
    .banner {
      min-height: 700px;
      background-image: linear-gradient(rgba(118, 207, 191, .6), rgba(118, 207, 191, .6)), url(http://megzfit.web.dmitcapstone.ca/wp-content/uploads/2018/02/banner-1400px.png);
    }
    .about-me{
      padding:48px 24px;
      .about-me-inner{
        h2{
          font-size: 2.6rem;
          margin-bottom:36px;
        }
        p{
          padding: 24px 0px 0px 0px;
          font-size: 1.3rem;
        }
      }
    } // close about-me
    .blog{
      padding:48px 24px;
      .blog-title{
        h2{
          font-size: 2.6rem;
          margin-bottom:24px;
        }
      }
    } //close blog
    .contact{
      padding:48px 24px;
    }
  }
  
  .archive, .single {
    .banner {
      min-height: 700px;
      background-image: linear-gradient(rgba(118, 207, 191, .6), rgba(118, 207, 191, .6)), url(http://megzfit.web.dmitcapstone.ca/wp-content/uploads/2018/02/banner-1400px.png);
    }
  }
}