/*!
    MegzFit Theme custom styles
*/

/*! VARIABLES */
// colors
$white: #fff;
$light-grey: #efefef;
$mid-grey: #dbdddc;
$teal: #76cfbf;
$d-teal: #54a79a;
$dark-grey: #4d4d4d;
$black: #000;
$carl: #ff7f50;

// logo proportion
$logoWtoH: 1.5615384615px;
// this is the proportion of the logos width to height ( 203px / 130px = above val )

// fonts
$barlow: "Barlow Condensed", Helvetica, sans-serif;
$meddon: Meddon, cursive;

// font weights
$regular: 400;
$light: 300;
$lightest: 200;
$medium: 500;

// breakpoints
$bp-tablet: 600px;
$bootstrapTablet: 768px;
$bp-desktop: 992px;

// transition timings 
$t-slow: 500ms;
$t-medium: 300ms;
$t-fast: 300ms;

// extends
.d-flex {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -ms-flex: 0 1 auto; // ie fix
  -webkit-flex: 0 1 auto; // ie fix
  flex: 0 1 auto; // ie fix
  min-height: 100%; // ie fix
}

.d-center { //center content horizontally and vertically
  @extend .d-flex;
  justify-content: center;
  align-items: center;
}

.justify-center-flex {
  @extend .d-flex;
  justify-content: center;
}

.space-between-flex {
  @extend .d-flex;
  justify-content: space-between;
}

.teal {
  color: $teal;
}

#page {
  background-color: $teal;
}

.d-flex-c {
  flex-direction: column;
}

.bg-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// mixins 
@mixin transition($timing) {
  -webkit-transition: $timing all ease-in-out;
  -moz-transition: $timing all ease-in-out;
  -o-transition: $timing all ease-in-out;
  transition: $timing all ease-in-out;
}

/*! GLOBAL STYLES */
html, body {
  height: 100%;
}
html {
  font-size: 16px;
  p {
    font-size: 1rem;
    font-weight: $regular;
  }
}
@media only screen and (min-width: $bp-desktop) {
  html {
    font-size: 18px;
  }
}
body {
  position: relative;
  -webkit-transform: translate3d(0,0,0);
  h1,h2,h3,h4,h5,h6 {
    font-family: $barlow;
    font-weight: $medium;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-family: $barlow;
    font-weight: $light;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  iframe {
    width: 100%;
  }
  .nav-inner {
    position: absolute;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: $white;
    font-family: $barlow;
    z-index: 100;
    transition: right 0.4s ease-in-out;
    width: 100%;
    right: 0px;
    background-color: $teal;
    &.out {
      right: -100%;
      transition: right 0.4s ease-in-out;
    }
    .menu-main-container {
      height: 100%;
      width: 100%;
      margin: 60px 0px 36px 0px;
      display: flex;
      align-content: space-around;
      justify-content: center;
    }
    .social {
      display: flex;
      justify-content: center;
      margin-bottom: 36px;
      a {
        color: $white;
        margin-right: 36px;
        @include transition($t-fast);
        &:last-of-type {
          margin-right: 0px;
        }
        &:hover {
          color: $black;
          @include transition($t-fast);
        }
      }
    }
    ul {
      list-style-type: none;
      padding-top: 2rem;
      margin: 0;
      padding: 0;
      text-align: center;
      a {
        padding: 10px 5px;
        color: $white;
        display: block;
        @include transition($t-fast);
      }
      a:hover {
        @include transition($t-fast);
        color: darken($white, 10);
      }
    }
    
  }
  #nav-toggle { 
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 200;
    height: 22px;
    .fa {
      color: $white;
    }
  }
  #nav-toggle:hover {
    color: darken($white, 10);
  }
  &.single {
    .nav {
      background-color:$teal;
      margin-bottom: 0;
    }
    
  }
  &.archive {
    .nav {
      background-color: transparent;
      .nav-logo {
        position: absolute;
        left: 10px;
      }
    }
  }
  &.archive, &.single {
    .nav-logo {
      padding: 10px;
      img {
        height: 30px;
      } 
    }
  }
  @media only screen and (min-width: $bootstrapTablet) {
    .nav>.container {
      position: relative;
    }
    .nav-inner {
      background-color: transparent;
      right: 10px !important;
      width: auto;
      .menu-main-container {
        justify-content: flex-end;
        margin: 0;
        margin-left: auto;
      }
      li {
        display: inline-block;
        margin-right: 10px;
      }
     
      .social {
        display: none;
      }
    }
    #nav-toggle {
      display: none;
    }
  }
}

/*! GLOBAL FOOTER */
.footer {
  background-color: $teal;
  padding: 12px 0 18px 0;

  .social {
    margin: 0 auto;
    max-width: 150px;
    @extend .d-flex;
    justify-content: space-between;
    a {
      color: $black;
      @include transition($t-fast);
    }
    a:hover, a:active {
      color: $white;
      @include transition($t-fast);
    }
  }
  .copy {
    text-align: center;
    font-family: $barlow;
    padding-top: 12px;
    font-size: 0.6rem;
    text-transform: uppercase;
    p {
      margin-bottom: 0;
    }
  }
}

/*! CUSTOM STYLES */
// home page
.home {
  width: 100%;
  .banner {
    @extend .d-center;
    min-height: 350px;
    background-image: linear-gradient(rgba(118, 207, 191, .6), rgba(118, 207, 191, .6)), url(http://megzfit.web.dmitcapstone.ca/wp-content/uploads/2018/02/banner-600px.jpg);
    background-size: cover;
    background-position: center center;
    color: $white;
    font-family: $barlow;
    
    text-transform: uppercase;
    .banner-inner {
      h1 {
        font-weight: $light;
        text-align: center;
      }
      .logo {
        width: 225px;
        margin: 0 auto;
      }
      img {
        min-width: 225px;
        max-width: 100%;
      }
    }
  }
  .about-me {
    background-color: $black;
    color: $teal;
    
    padding: 24px 24px;

    .about-me-inner {
      h2 {
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-bottom: 12px;
        text-align: center;
      }
      img {
        padding: 12px 0px;
        border: 1px transparent;
        border-radius: 50%;
        display: block;
      }
      p {
        column-count: 1;
        color: $white;
      }
      .contact-link {
        margin-top: 18px;
        display: block;
        background-color: $teal;
        color: $white;
        padding: .375rem .75rem;
        font-size: 1rem;
        text-align: center;
        max-width: 250px;
        font-family: $barlow;
        text-transform: uppercase;
      }
      @media only screen and (min-width: $bp-tablet) {
        p {
          column-count: 2;
        }
      }
    }
  }
  .ig {
    padding: 0 0 12px 0;
    #sb_instagram .sbi_follow_btn a{
      background-color: $black;
      font-family: $barlow;
      text-transform: uppercase;
      padding: 12px 20px 12px 20px;
      @include transition($t-fast);
      border-radius: 0 !important;
    }
    #sb_instagram .sbi_follow_btn a:hover{
      background-color: $white;
      color:$black;
      @include transition($t-fast);
      opacity: 1;
    }
  }
  .blog {
    padding: 24px 0 24px 0;
    background-color: $mid-grey;
    text-align: center;
    .blog-title {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 1.8rem;
    }
    .blog-inner {
      .blog-post {
        iframe {
          vertical-align: bottom;
          width: 100%;
        }
        .post-content {
          background-color: $teal;
          position: relative;
          padding: 6px 18px 60px 18px;
          text-align: left;
          min-height: 290px;
          h3 {
            color: $white;
            font-family: $barlow;
            font-weight: $light;
            text-transform: uppercase;
          }
          a {
            font-family: $barlow;
            padding: 8px 24px;
            text-transform: uppercase;
            position: absolute;
            bottom: 12px;
            right: 12px;
            background-color: $white;
            color: $black; 
            border-radius: 0;
            @include transition($t-fast);
          }
          a:hover {
            background-color: $black;
            color:$white;
            @include transition($t-fast);
          }
          a:focus {
            box-shadow: none;
          }
        }
      }
      .blog-post:not(:first-child) { //suppress second blog post on mobile screen
        display: none;
      }
    }
  }
}

.forms { // this is for both of the forms, theonly different is in some colors
  text-align: center;
  padding: 12px 18px;

  .forms-inner {
    form {
      max-width: 400px;
      margin: 0 auto;
    }
    h2 {
      font-family: $barlow;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    p {
      margin: 0;
      text-align: left;
    }
    label {
      font-weight: $regular;
      margin-bottom:1rem;
    }
    input, textarea, input {
      border: 1px solid transparent;
      border-radius: 0;
    }
    input:focus, textarea:focus, input:focus {
      box-shadow: none;
      border: 1px solid transparent;
    }
    textarea {
      max-height: 8rem;
    }
  }
  // both forms share these styles
  &.contact, &.mail-list {
    input[type=submit] {
      text-transform: uppercase;
      &:not([disabled]):not(.disabled):active {
        border-color: transparent;
        box-shadow: none;
      }
    }
    .ajax-loader {
      height: 11px;
    }
    .wpcf7-not-valid-tip {
      color: $carl;
    }
    .wpcf7-not-valid {
      border-color: $carl;
    }
  }
  // contact form specific
  &.contact { 
    background-color: $black;
    color: $teal;
    padding:24px;
    input[type=submit] {
      max-width: 400px;
      color: $white;
      background-color: $teal;
      &:not([disabled]):not(.disabled):active {
        color: $white;
        background-color: $teal;
      }
      &:not([disabled]):not(.disabled):hover{
        color: $teal;
        background-color: $white;
       transition:all .3s ease-in-out;

      }
    }
    .wpcf7-validation-errors {
      color: $carl;
      background-color: transparent;
      border: 1px solid $carl;
      border-radius: none;
    }
  }
  // mail list specific
  &.mail-list { 
    color: $black;
    input[type=submit] {
      background-color: $black;
      color: $white;
      &:not([disabled]):not(.disabled):active {
        color: $white;
        background-color: $black;
      }
      &:not([disabled]):not(.disabled):hover{
        color: $black;
        background-color: $white;
        transition:all .3s ease-in-out;
      }
    }
    //error stuff
    .wpcf7 .wpcf7-validation-errors {
      display: none !important;
    }
  }
  
}

.error404 {
  #page {
    background-color: $white;
  }
  .four-oh-four {
    min-height: 50vh; 
  }
}

.archive, .single {
  .nav-container {
    background-color: $teal;
  }
  #page {
    background-color: $black;
    color: $white;
  }
  .blog-banner {
    padding: 18px 0px;
  }
  .post-info {
    text-align: center;
    h2 {
      font-size: 2.5rem;
      text-transform: uppercase;
    }
    .date {
      font-weight: $lightest;
      font-size: 1.4rem;
    }
    .cat-link {
      font-weight: $lightest;
      color: $white;
      padding-bottom: 5px;
      border-bottom: 1px solid $teal;
      margin-right: 1rem;
      @include transition($t-fast);
      &:hover {
        color: $teal;
        @include transition($t-fast);
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  
  .blog-post {
    p:empty:first-of-type {
      height: 0;
      margin: 0;
    }
    p:empty:first-of-type + p::first-letter {
      font-size: 2rem;
      font-weight: $medium;
    }
    .read-more:hover {
      color: $black;
    }
    .read-more:focus {
      box-shadow: none;
    }
  }
  .sidebar-inner {
    p {
      font-size: 24px;
    }
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: $teal;
    padding: 12px 36px 24px 36px;
    select {
      width: 100%;
    }
    &.blog-about {
      background-image: linear-gradient(rgba(84,167,154, .8), rgba(84,167,154, .8)), url(http://megzfit.web.dmitcapstone.ca/wp-content/uploads/2018/04/ocean-lg.png);
      background-size: cover;
      background-position: center center;
      h2 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-bottom: 12px;
        font-size: 48px;
        line-height: 40px;
      }
      img {
        display: block;
        margin: 0 auto;
        padding: 12px 0px;
        border: 1px transparent;
        border-radius: 50%;
      }
      .social-side {
        @extend .justify-center-flex;
        a {
          color: $white;
          margin-right: 36px;
          @include transition($t-fast);
          &:last-of-type {
            margin: 0;
          }
          &:hover {
            color: $black;
            @include transition($t-fast);
          }
        }
        font-size: 20px;
      }
    }
  }
  .anchor-cover {
    margin-left: -15px;
    margin-right: -15px;
    display: block;
    height: 100%;
  }
  .recents {
    p {
      font-size: 1rem;
    }
    background-color: $d-teal;
    margin-top: 60px;
    padding: 12px 0px 24px 0px;
    color: $white;
    .item {
      margin-bottom: 12px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    h4 {
      padding: 12px 0px 3px 0px;
      font-weight: $lightest;
      font-size: 1.1rem;
      text-align: center;
      font-weight: $lightest;
    }
    h4 + hr {
      height: 1px;
      background-color: $teal;
      max-width: 100px;
      margin: 0 auto;
      margin-bottom: 32px;
    }
    .post-image {
      align-self: center;
      height: 115px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .post-title {
      font-size: 20px;
      text-transform: uppercase;
      color: $dark-grey;
      @include transition($t-fast);
      &:hover {
        @include transition($t-fast);
        color: lighten($dark-grey, 5);
      }
    }
    ul {
      list-style-type: none;
      clear: both;
      margin: 0;
      padding: 0;
      li {
        a {
          color: $white;
          &:hover {
            color: $white;
          }
        }
        font-size: 0.8rem;
        float: left;
        margin-right: 6px;
        margin-bottom: 3px;
        border: 1px solid $white;
        padding: 2px;
        background-color: transparent;
        @include transition($t-fast);

        &:hover {
          @include transition($t-fast);
          background-color: $dark-grey;
          border-color: $dark-grey;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    
  }
  .related {
    padding: 12px 0px;
    text-align: center;
    .date {
      font-size: 1.2rem;
    }
    h2 {
      padding: 12px 0px 3px 0px;
      text-transform: uppercase;
    }
    h2 + hr {
      height: 1px;
      background-color: $teal;
      max-width: 150px;
      margin: 0 auto;
      margin-bottom: 18px;
    }
    .post-image {
      height: 250px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    a {
      display: block;
      color: $white;
      text-transform: uppercase;
      @include transition($t-fast);
      &:hover {
        @include transition($t-fast);
        color: $teal;
      }
    }
  }
}

.archive {
  .banner {
    @extend .d-center;
    min-height: 350px;
    background-image: linear-gradient(rgba(118, 207, 191, .6), rgba(118, 207, 191, .6)), url(http://megzfit.web.dmitcapstone.ca/wp-content/uploads/2018/02/banner-600px.jpg);
    background-size: cover;
    background-position: center center;
  }
  h1 {
    font-size: 2.2rem;
    margin: 2rem 0;
    margin-left: 15px;
  }
  .sidebar-outer {
    margin-top: 90px;
  }
  .archive-content {

    .archive-item {
      min-height: auto;
      margin-bottom: 2rem;
      .post-image {
        align-self: center;
        height: 210px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }

      .blog-title {
        color: $white;
        @include transition($t-fast);
        &:hover {
          color: $teal;
          @include transition($t-fast);

        }
      }
      
      .archive-info {
        
        position: relative;
        p {
          font-size: .8rem;
          margin-bottom: 0.5rem;
        }
        h4 {
          text-transform: uppercase;
          font-size: 1.2rem;
          letter-spacing: 1px;
          
        }
        .cat-link {
          font-weight: 200;
          color: #fff;
          padding-bottom: 5px;
          border-bottom: 1px solid #76cfbf;
          margin-right: 1rem;
          margin-bottom: 0.4rem;
          @include transition($t-fast);
          &:hover {
            color: $teal;
            @include transition($t-fast);

          }
        }
        .read-more {
          position: absolute;
          bottom: 10px;
          right: 10px;
          font-size: .8rem;
          letter-spacing: 1px;
          font-family: $barlow;
          text-transform: uppercase;
          color: $white;
          @include transition($t-fast);
          &:hover {
            color: $teal;
            @include transition($t-fast);
          }
        }
        
      }
    }
  }


}

/*! TABLET */
@media only screen and (min-width: $bp-tablet) {
  .home {
    .banner {
      min-height: 400px;
      background-image: linear-gradient(rgba(118, 207, 191, .6), rgba(118, 207, 191, .6)), url(http://megzfit.web.dmitcapstone.ca/wp-content/uploads/2018/02/banner-992px.png);
    }
    .about-me{
      .about-me-inner{
        h2{
          font-size: 2.3rem;
        }
      }
    } // close about-me
    .blog{
      .blog-title{
        h2{
          font-size: 2.3rem;
        }
      }
    } //close blog
  }
  .archive {
    .banner {
      min-height: 400px;
      background-image: linear-gradient(rgba(118, 207, 191, .6), rgba(118, 207, 191, .6)), url(http://megzfit.web.dmitcapstone.ca/wp-content/uploads/2018/02/banner-992px.png);
    }
  }
}

@media only screen and (min-width: $bootstrapTablet) {
  .blog-post {
    display: block !important; //reveal blogposts when 2 column
  }
}

/*! DESKTOP */
@media only screen and (min-width: $bp-desktop) {
  .home {
    .banner {
      min-height: 500px;
      background-image: linear-gradient(rgba(118, 207, 191, .6), rgba(118, 207, 191, .6)), url(http://megzfit.web.dmitcapstone.ca/wp-content/uploads/2018/02/banner-1400px.png);
    }
    .about-me{
      padding:48px 24px;
      .about-me-inner{
        h2{
          font-size: 2.6rem;
          margin-bottom:36px;
        }
        p{
          padding: 24px 0px 0px 0px;
          font-size: 1.3rem;
        }
      }
    } // close about-me
    .blog{
      padding:48px 24px;
      .blog-title{
        h2{
          font-size: 2.6rem;
          margin-bottom:24px;
        }
      }
    } //close blog
    .contact{
      padding:48px 24px;
    }
  }
  
  .archive {
    .banner {
      min-height: 500px;
      background-image: linear-gradient(rgba(118, 207, 191, .6), rgba(118, 207, 191, .6)), url(http://megzfit.web.dmitcapstone.ca/wp-content/uploads/2018/02/banner-1400px.png);
    }
  }
}